.nav-bg-color
{
    background-color: rgba(144, 238, 144, 0.71);
}
.how-work
{
    background-color:white;
    border: 4px solid brown;
    border-radius: 30px;
}
.card_border
{
    border-radius: 30px;
    border: 4px solid brown;
}

/* engine work  */

/* engine work  */
  